@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Source Code Pro, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Merriweather, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.8418 0.0417 81.6797);
  --foreground: oklch(0.2626 0.0305 29.2057);
  --card: oklch(0.8418 0.0417 81.6797);
  --card-foreground: oklch(0.2626 0.0305 29.2057);
  --popover: oklch(0.8418 0.0417 81.6797);
  --popover-foreground: oklch(0.2626 0.0305 29.2057);
  --primary: oklch(0.4475 0.1126 144.1952);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8348 0.0832 146.3209);
  --secondary-foreground: oklch(0.3654 0.0963 144.4740);
  --muted: oklch(0.8088 0.0449 74.9889);
  --muted-foreground: oklch(0.3866 0.0399 39.9069);
  --accent: oklch(0.7844 0.1054 145.2506);
  --accent-foreground: oklch(0.3654 0.0963 144.4740);
  --destructive: oklch(0.4576 0.1620 26.4774);
  --border: oklch(0.7579 0.0427 74.3143);
  --input: oklch(0.7579 0.0427 74.3143);
  --ring: oklch(0.4475 0.1126 144.1952);
  --chart-1: oklch(0.5722 0.1358 144.2167);
  --chart-2: oklch(0.4918 0.1215 144.1882);
  --chart-3: oklch(0.4475 0.1126 144.1952);
  --chart-4: oklch(0.3654 0.0963 144.4740);
  --chart-5: oklch(0.2443 0.0551 145.7967);
  --sidebar: oklch(0.8088 0.0449 74.9889);
  --sidebar-foreground: oklch(0.2626 0.0305 29.2057);
  --sidebar-primary: oklch(0.4475 0.1126 144.1952);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7844 0.1054 145.2506);
  --sidebar-accent-foreground: oklch(0.3654 0.0963 144.4740);
  --sidebar-border: oklch(0.7579 0.0427 74.3143);
  --sidebar-ring: oklch(0.4475 0.1126 144.1952);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2374 0.0241 151.9953);
  --foreground: oklch(0.8074 0.0325 70.4369);
  --card: oklch(0.2886 0.0213 147.7344);
  --card-foreground: oklch(0.8074 0.0325 70.4369);
  --popover: oklch(0.2886 0.0213 147.7344);
  --popover-foreground: oklch(0.8074 0.0325 70.4369);
  --primary: oklch(0.5722 0.1358 144.2167);
  --primary-foreground: oklch(0.2443 0.0551 145.7967);
  --secondary: oklch(0.3406 0.0210 142.3740);
  --secondary-foreground: oklch(0.7674 0.0379 142.6854);
  --muted: oklch(0.2886 0.0213 147.7344);
  --muted-foreground: oklch(0.7357 0.0330 75.1069);
  --accent: oklch(0.4918 0.1215 144.1882);
  --accent-foreground: oklch(0.8074 0.0325 70.4369);
  --destructive: oklch(0.4576 0.1620 26.4774);
  --border: oklch(0.3406 0.0210 142.3740);
  --input: oklch(0.3406 0.0210 142.3740);
  --ring: oklch(0.5722 0.1358 144.2167);
  --chart-1: oklch(0.6877 0.1568 144.4080);
  --chart-2: oklch(0.6312 0.1488 144.3629);
  --chart-3: oklch(0.5722 0.1358 144.2167);
  --chart-4: oklch(0.5357 0.1287 144.2250);
  --chart-5: oklch(0.4918 0.1215 144.1882);
  --sidebar: oklch(0.2374 0.0241 151.9953);
  --sidebar-foreground: oklch(0.8074 0.0325 70.4369);
  --sidebar-primary: oklch(0.5722 0.1358 144.2167);
  --sidebar-primary-foreground: oklch(0.2443 0.0551 145.7967);
  --sidebar-accent: oklch(0.4918 0.1215 144.1882);
  --sidebar-accent-foreground: oklch(0.8074 0.0325 70.4369);
  --sidebar-border: oklch(0.3406 0.0210 142.3740);
  --sidebar-ring: oklch(0.5722 0.1358 144.2167);
  --destructive-foreground: oklch(0.8074 0.0325 70.4369);
  --radius: 0.5rem;
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}